  <strong>The following profile info is requested</strong>

  <form class="form_section profile">
    <ul class="inputs">
      <li>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" data-field />

        <input type="checkbox" checked="checked" name="allow_name" for="name" />
        <label for="allow_name">Allow</label>
      </li>

      <!--li>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" data-field />

        <input type="checkbox" checked="checked" name="allow_email" for="email" />
        <label for="allow_email">Allow</label>
      </li-->

      <li>
        <label for="photo_select">Photo:</label>
        <input type="file" id="photo_select" name="photo_select" accept="image/*" />

        <p>
          <img width="50" height="50" id="photo" name="photo" alt="Upload a photo" />
          <input type="checkbox" checked="checked" name="allow_photo" for="photo" />
          <label for="allow_photo">Allow</label>
        </p>
      </li>
    </ul>

    <div class="submit cf">
      <button id="ok">Sign In</button>
      <button>Save</button>
    </div>

